<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet"="style/css" href="styles.css">
</head>

<body>
    <!--

    <ul>
        <% obj.forEach(function(justOne) { %>
        <li>
         Id - <strong><%= justOne.theaterId %></strong> <br> -->
    <!-- name - <strong><%= justOne.name %></strong> /
       lname - <strong><%= justOne.lname %></strong> /
        age - <strong><%= justOne.age %></strong> /
       email - <strong><%= justOne.email %></strong> <br> <br>
        </li>
        <% }); %>
        </ul> -->


    <div class="ud">

        <table>
            <tr>
                <td>name</td>
                <td>lname</td>
                <td>age</td>
                <td>email</td>
                <td>password</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
            <% obj.forEach(function(justOne) { %>
                <tr>
                    <td>
                        <%= justOne.name %>
                    </td>
                    <td>
                        <%= justOne.lname %>
                    </td>
                    <td>
                        <%= justOne.age %>
                    </td>
                    <td>
                        <%= justOne.email %>
                    </td>
                    <td>
                        <%= justOne.password %>
                    </td>
                    <td><a class="update" href="update/<%= justOne._id %>">Update</a></td>
                    <td><a class="delete" href="delete/<%= justOne._id %>">Delete</a></td>
                </tr>
                <% }); %>
        </table>

    </div>


    <div class="container">
        <h1>Sign Up</h1>
        <form action="/addName" method="post">
        <label class="textt" for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label class="textt" for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br>

        <label class="textt" for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>

        <label class="textt" for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label class="textt" for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>


        <br><input class="button-88" type="submit" ></button><br>
        </form>




        <script src="script.js"></script>

    </div>

</body>

</html>
